body{
  background-image: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );  
  color: white; 
  min-height: 100vh;  
}

h1{
  text-align: center;
  color: rgb(85, 82, 64);}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of buttons accordingly */
    grid-gap:2px; /* Adjust the spacing between buttons as desired */
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 4px;
    margin-top: 2px;
  }
.tablet{
    width: 70vw;
    height: 100%;
}

.display{
    width: 100%;
}

table{
    background-color: rgb(61, 61, 58);
}
.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
 
button{
    background-color:rgb(118, 216, 238);
    box-sizing: border-box;
    border-radius: 2px;
    color:rgb(44, 60, 28);
}

button:hover{
    background-color: rgb(137, 11, 201);
}
  
.tdclass{
    background-color: rgb(14, 12, 12);
    padding: 4px 4px;
}
  
@media screen  and (max-width:500px) {
    .tt{
      width: 80vw;
      height: 100%;
  }
}
